#settings {
    display: flex;
}

.sidenav {
    width: 20%;
    background-color: #134268;
    padding-top: 10px;
    margin: 10px;
    color: #ffffff;
}

.sidenav h2 {
    margin-left: 5px;
}


.sidenav form {
    margin-left: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    font-size: 1.1em;
}

.sidenav a:hover {
    color: #ddd;
    text-decoration: underline;
}

.settings-info {
    border: solid #134268 1px;
    width: 100%;
    margin-right: 20px;
    margin-top: 10px;
}

.settings-info-header {
    margin-left: 10px;
}

.settings-info ul li {
    font-style: italic;
    font-weight: bold;
}

.settings-section {
    display: flex;
    width: 100%;
}


.settings-section button {
    height: 100%;
    margin-left: 30px;
    margin-top: 15px;
    float: right;
}

.order-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5em;
    margin: 3em 0;
    padding: 0 1em;
}

.card-history {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 1em;
    margin: 5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#account-info {
    display: none;
}

#order-history {
    display: none;
}

#payment-info {
    display: none;
}

#switch-accounts {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.filter-button {
    padding: 10px;
    margin: 10px;
}